---
import { Image } from "astro:assets";
import logo from "../../images/world_map.svg";
import "./Cards.astro";
import "./Cards.scss";
import { locationsInfo } from "./data";
---

<section class="banner">
  <Image class="banner__image" src={logo} alt="" />
  <ul class="container">
    {
      locationsInfo.map((item) => {
        return (
          <li class="card">
            <div class="card__header">
              <h2>{item.city}</h2>
              <Image
                width={40}
                height={40}
                src={item.icon_path}
                alt="Countries icon"
                format="webp"
              />
            </div>

            <div class="card__info">
              <span>{item.telephone_number}</span>
              <span>{item.email}</span>
            </div>

            <span class="card__footer">{item.address}</span>
          </li>
        );
      })
    }
  </ul>
</section>
