---
import { Image } from "astro:assets";
import logo from "../../images/world_map.svg";
import "./Cards.astro";
import "./Cards.scss";
import { locationsInfo } from "./data";
---

<section>
  <Image class="image" src={logo} alt="World's map" />

  <ul class="container-card">
    {
      locationsInfo.map((item) => {
        return (
          <li class="card">
            <div class="card__header">
              <h3 aria-level="3">{item.city}</h3>
              <Image
                width={40}
                height={40}
                src={item.icon_path}
                alt="Countries icon"
              />
            </div>

            <p class="card__info">
              <a href={`tel:${item.telephone_number}`}>
                {item.telephone_number}
              </a>
              <a href={`mailto:${item.email}`}>{item.email}</a>
            </p>

            <p class="card__footer">{item.address}</p>
          </li>
        );
      })
    }
  </ul>
</section>
